.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 768px;
  gap: 16px;
  margin-left: auto;
  margin-right: auto;
}

.photos-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
}

.primary-photo {
  max-width: 480px;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.thumbnails {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.thumbnail {
  width: 64px;
  border: none;
  cursor: pointer;
  overflow: hidden;
  border-radius: 4px;
}

.active {
  outline: 4px solid #475569;
  outline-offset: -2px;
}

.title {
  text-align: center;
  font-size: 24px;
  line-height: 32px;
}

.ratings {
  font-size: 24px;
  line-height: 32px;
  display: flex;
  justify-content: center;
  gap: 4px;
}
