/*
.error {
}
*/

.error__content {
  text-align: center;
}

.error__title {
  margin-bottom: 0.75rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: tomato;
}

.error__message {
  margin-bottom: 1rem;
  color: var(--muted-foreground);
}
