* {
  box-sizing: border-box;
}

body {
  all: unset;
  background-color: #F2EBE3;
}

/* si se pinta todo el articulo de blanco ya se tiene la caja de abajo (product-info de blanco) por herencia */
article {
  background-color: white;
}

.product-card {
  margin-top: 5%;
  margin-left: 2%;
  margin-right: 2%;

  /* necesario para el border-radius inferior (caja blanca) */
  border-radius: 5px;
}


.product-image img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.product-info {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}

.description {
  color: hsl(228, 12%, 48%);
  font-family: 'Montserrat';
}

.price {
  color: hsl(158, 36%, 37%);
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Fraunces';
}

.old-price {
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
}