.title {
  margin-top: 4rem;
  margin-bottom: 2rem;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
