.wrapper {
  display: grid;
  grid-template-columns: 1fr 240px;
  grid-template-rows: 48px 1fr;
  min-height: 100%;
  color: black;
  grid-template-areas:
    "header header"
    "main aside";
}

header {
  background-color: PapayaWhip;
  grid-area: header;
  display: flex;
  align-items: center;
  padding: 8px;
}

main {
  background-color: Cornsilk;
  grid-area: main;
  display: grid;
  place-items: center;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: AliceBlue;
  padding: 8px;
  padding-bottom: 2.5rem;
}
