<section class="order-confirmation">
  <div class="container">
    <h1 class="order-confirmation__title">¡Muchas gracias por tu compra!</h1>
    <p class="order-confirmation__heading">Tu orden está en camino</p>
    <p class="order-confirmation__description">
      Llegaremos a la puerta de tu domicilio lo antes posible
    </p>
    <p class="order-confirmation__tracking-label">Número de orden</p>
    <p class="order-confirmation__tracking-code">1</p>
  </div>
</section>
