.project {
  width: 320px;
  border: 1px solid #cbd5e1;
  border-radius: 1rem;

  cursor: pointer;
}

.imgContainer {
  height: 220px;
  overflow: hidden;
  border-bottom: 1px solid #cbd5e1;
}

.imgProject {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;

  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  font-family: Nunito;
  font-weight: 700;
  font-style: Bold;
  font-size: 1.5rem;
  line-height: 32px;

  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.featuresContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 0.5rem;
  margin-bottom: 1rem;
}

.reactFeatureCard {
  background-color: #eff4ff;
  border: 1px solid #dbe6fe;
  padding: 4px 8px;
  border-radius: 11px;
}
