.checkout {
  background-color: var(--muted-background);
}

.checkout__layout {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
}

.checkout__summary {
  flex-grow: 1;
}

.checkout__summary_title {
  margin-bottom: 1rem;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.75rem;
}

.checkout__summary_container {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border);
  border-radius: 0.75rem;
  background-color: var(--background);
}

.checkout__item {
  display: flex;
  padding: 1.5rem;
  gap: 1.5rem;
  border-bottom: 1px solid var(--border);
}

.checkout__item-image {
  width: 5rem;
  border-radius: 0.75rem;
  background-color: var(--muted-background);
}

.checkout__item-image-content {
  width: 100%;
  aspect-ratio: 1;
  object-fit: contain;
}

.checkout__item-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.checkout__item-title {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.checkout__item-price {
  display: flex;
  align-items: center;
  align-self: flex-end;
  gap: 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
}

.checkout__item-price-icon {
  width: 1rem;
  height: 1rem;
}

.checkout__total {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.checkout__form {
  flex-grow: 1;

  fieldset {
    display: block;
    width: 100%;
  }
}

.checkout__legend {
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.75rem;
}

.checkout__separator {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.checkout__form-fields {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.checkout__submit {
  width: 100%;
  margin-top: 1.5rem;
}

@media (min-width: 64rem) {
  .checkout__layout {
    flex-direction: row;
    max-width: none;
    align-items: start;
  }

  .checkout__form {
    order: -1;
    max-width: 56rem;
  }

  .checkout__summary {
    position: sticky;
    top: calc(96px + 49px);
  }
}
