/* Content */

.prose {
  --headings: var(--foreground);
  --body: var(--foreground);
  --captions: var(--muted-foreground);
  --bold: var(--foreground);
  --code: var(--foreground);
  --pre: var(--muted);
  --pre-background: var(--foreground);
  --hr: var(--border);
  --td-border: var(--border);
  --th-border: var(--border);
  --links: var(--accent-foreground);
  --markers: var(--accent-foreground);
}

.prose {
  color: var(--body);
  font-size: 1rem; /* 16px */
  line-height: 1.75rem; /* 28px */
}

.prose h1 {
  margin-top: 0;
  margin-bottom: 2rem; /* 32px */

  color: var(--headings);
  font-weight: 800;
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
}

.prose h2 {
  margin-top: 3rem; /* 48px */
  margin-bottom: 1.5rem; /* 24px */

  color: var(--headings);
  font-weight: 700;
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}

.prose h3 {
  margin-top: 2rem; /* 32px */
  margin-bottom: 0.75rem; /* 12px */

  color: var(--headings);
  font-weight: 600;
  font-size: 1.25rem; /* 20px */
  line-height: 2rem; /* 32px */
}

.prose h4 {
  margin-top: 1.5rem; /* 24px */
  margin-bottom: 0.5rem; /* 8px */

  color: var(--headings);
  font-weight: 600;
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}

.prose img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-block: 2rem; /* 32px */
  border-radius: 0.375rem; /* 6px */
}

.prose figure {
  margin-block: 2rem; /* 32px */
}

.prose figure img {
  margin-block: 0;
}

.prose figure figcaption {
  margin-top: 0.75rem; /* 12px */
  margin-bottom: 0;

  color: var(--captions);
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

.prose ol,
.prose ul {
  margin-block: 1.25rem; /* 20px */
  padding-left: 32px;
}

.prose li {
  margin-block: 0.5rem; /* 8px */
}

.prose li::marker {
  color: var(--markers);
}

.prose li p {
  margin-block: 0.75rem; /* 12px */
}

.prose hr {
  margin-block: 3rem; /* 48px */
}

.prose p {
  margin-block: 1.25rem; /* 20px */
}

.prose strong {
  color: var(--bold);
  font-weight: 600;
}

.prose a {
  color: var(--links);
  font-weight: 500;
}

.prose code {
  color: var(--code);
  font-family: var(--monospace);
  font-size: 0.875rem; /* 14px */
  font-weight: 600;
  line-height: 1.75rem; /* 28px */
}

.prose code::before,
.prose code::after {
  content: "`";
}

.prose pre {
  margin-block: 1.5rem; /* 24px */
  padding: 12px 16px;
  background: var(--pre-background);
  border-radius: 0.375rem; /* 6px */
  overflow: auto;

  color: var(--pre);
  font-family: var(--monospace);
  font-size: 0.875rem; /* 14px */
  line-height: 1.75rem; /* 28px */
}

.prose pre code {
  all: unset;
}

.prose pre code::before,
.prose pre code::after {
  content: unset;
}

.prose table {
  margin-block: 2rem; /* 32px */
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.prose th {
  padding: 0 8px 8px;

  color: var(--headings);
  font-size: 0.875rem; /* 14px */
  font-weight: 600;
  line-height: 1.75rem; /* 28px */
}

.prose th:first-child,
.prose td:first-child {
  padding-left: 0;
}

.prose th:last-child,
.prose td:last-child {
  padding-right: 0;
}

.prose td {
  padding: 8px;

  font-size: 0.875rem; /* 14px */
  font-weight: 400;
  line-height: 1.75rem; /* 28px */
}

.prose th {
  border-bottom: 1px solid var(--th-border);
}

.prose td {
  border-bottom: 1px solid var(--td-border);
}

.prose tr:last-child td {
  border-bottom: unset;
}

.prose h2 + *,
.prose h3 + *,
.prose h4 + * {
  margin-top: 0;
}

.prose > *:first-child {
  margin-top: 0;
}

.prose > *:last-child {
  margin-bottom: 0;
}
